<!doctype html>
<html lang="en" ng-app="app">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>

    <title>Библиотека</title>
</head>
<body ng-controller="BookController">
<div class="container">
    <div class="row justify-content-center">
        <h1 class="center">Библиотека</h1>
    </div>
    <div class="row">
        <div id="buttonPanel">
            <a class="btn btn-primary" data-toggle="modal" data-target="#bookModal" role="button">Добавить книгу</a>
            <a class="btn btn-info" role="button" ng-click="findAll()">Обновить</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2">Книги</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books">
                <td><a href="/" data-toggle="modal" data-target="#bookModal"
                       ng-click="findById(book.id)">{{book.name}}</a></td>
                <td><a href="#" ng-click="deleteById(book.id)">удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Книга</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger text-center" role="alert" ng-show="currentBook.errorMessage">
                    {{currentBook.errorMessage}}
                </div>
                <label ng-show="!currentBook.invalidFields.name" for="name">Наименование</label>
                <label class="text-danger" ng-show="currentBook.invalidFields.name" for="name">{{currentBook.invalidFields.name}}</label>
                <input type="text" ng-model="currentBook.data.name" class="form-control" id="name" aria-label="name"
                       aria-describedby="basic-addon1">
                <br>
                <label ng-show="!currentBook.invalidFields.authorsIds" for="authors">Авторы</label>
                <label class="text-danger" ng-show="currentBook.invalidFields.authorsIds" for="authors">{{currentBook.invalidFields.authorsIds}}</label>
                <div id="authors">
                    <div class="form-check" ng-repeat="author in authors">
                        <input class="form-check-input" type="checkbox" value="" id="author{{author.id}}"
                               ng-checked="authorWasSelected(author.id)" ng-click="clickOnAuthor(author.id)">
                        <label class="form-check-label" for="author{{author.id}}">{{author.name}}</label>
                    </div>
                </div>
                <br>
                <label ng-show="!currentBook.invalidFields.genresIds" for="genres">Жанры</label>
                <label class="text-danger" ng-show="currentBook.invalidFields.genresIds" for="genres">{{currentBook.invalidFields.genresIds}}</label>
                <div id="genres">
                    <div class="form-check" ng-repeat="genre in genres">
                        <input class="form-check-input" type="checkbox" value="" id="genre{{genre.id}}"
                               ng-checked="genreWasSelected(genre.id)" ng-click="clickOnGenre(genre.id)">
                        <label class="form-check-label" for="genre{{genre.id}}">{{genre.name}}</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label ng-show="!currentBook.invalidFields.description" for="description">Описание</label>
                    <label class="text-danger" ng-show="currentBook.invalidFields.description" for="description">{{currentBook.invalidFields.description}}</label>
                    <textarea class="form-control" ng-model="currentBook.data.description" id="description"
                              rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="resetForm()">Закрыть
                </button>
                <button ng-show="!currentBook.data.id" type="button" class="btn btn-primary" ng-click="add()">
                    Сохранить
                </button>
                <button ng-show="currentBook.data.id" type="button" class="btn btn-primary" ng-click="update()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script th:src="@{js/lodash.min.js}"></script>
<script th:src="@{js/app.js}"></script>
</body>
</html>